body {
  margin: 0;
  color: #ffffff;
  font-family: "Refrigerator", Arial, sans-serif;
  background-image: url(Assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.app {
  display: flex;
  height: 100vh;
}

/* #region scrollbar*/



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8991a4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #747a89;
}


/* #endregion */

/* #region font*/


@font-face {
  font-family: "Refrigerator";
  src: url("assets/Refrigerator Deluxe Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Refrigerator";
  src: url("assets/Refrigerator Deluxe.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Refrigerator";
  src: url("assets/Refrigerator Deluxe Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Refrigerator";
  src: url("assets/Refrigerator Deluxe Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Refrigerator";
  src: url("assets/Refrigerator Deluxe Extrabold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}


/* #endregion */

/* #region LEFT*/
.left {
  width: 38%;
  padding: 20px 20px 20px 0;
  box-sizing: border-box;
}

.heropage{
  display: flex;
  justify-content: space-around;
  background: #181b24;
  cursor: pointer;
  width: 100%;
}

.hero-select {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.heropage:hover .hero-select{
  color: #fede32;
}
.heropage:hover{
  color: #fede32;
}

.hero-box {
  text-align: center;
  margin-top: 20px;
}

.hero-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url("/Assets/DisplayIcon/mask.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-image: url("/Assets/DisplayIcon/mask.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.hero-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
}
/* #endregion */

/* #region RIGHT*/

.right {
  width: 62%;
  height: 750px;
  margin: calc(( 100vh - 800px ) / 2);
  padding: 30px;
  background-color: #222635;
  box-sizing: border-box;
}

label {
  font-size: 18px;
  color: #ffffff;
}

input, select, button {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 14px 0;
  padding: 8px;
}

button {
  background: #ecf0fe;
  color: #242632;
  font-size: 24px !important;
  font-family: "Refrigerator", sans-serif;
  font-weight: 300;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background: #fede32;
}

.result {
  white-space: pre-line;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.Agent {
  background-image: url("Assets/Icon/agent.png");
}
.Knight {
  background-image: url("Assets/Icon/knight.png");
}
.Captain {
  background-image: url("Assets/Icon/captain.png");
}
.Centurion {
  background-image: url("Assets/Icon/centurion.png");
}
/* #endregion */

/* #region MODAL*/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #222134;
  padding: 20px;
  width: 90%;
  height: 80%;
  max-width: 1800px;
  max-height: 80%;
  overflow: hidden;
}
.modal-content > h3 {
  font-size: 30px;
  margin: 0 0 20px;
  text-align: center;
}
/* #endregion */

/* #region HERO GRID*/

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  max-height: calc( 95% - 16px );
  overflow-y: auto;
}

/* 1080p+ -> 10 heroes */
@media (min-width: 1920px) {
  .hero-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

.hero-card {
  cursor: pointer;
  text-align: center;
  background: #0f0f0f;
  box-sizing: border-box;
  background-image: url(Assets/herobg.png);
  margin: 5px;
}

.hero-card>div{
  font-family: "Refrigerator", sans-serif;
  font-weight: 900; /* Extrabold */
  font-size: 16px !important;
  text-align: left;  
  background-color: #181b23;
  color: #7f859a;
}

.hero-card:hover {
  border: 5px #ffea52 solid;
  margin: 0px;
}
.hero-card:hover >div{
  background-color: #ffea52;
  color: #242730;
}

.hero-card img {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: flex-end;
  object-fit: cover;
}

.hero-card div {
  padding: 6px;
  font-size: 0.85rem;
}
/* #endregion */
